fieldset {
    /* height: 500px; */
}

label, select, input, textarea {
    /* margin-top: 0; */
    /* margin-left: 50px; */
    /* margin-right: 0; */
    /* margin-bottom: 10px; */
}

input:not([type="date"],[type="submit"]) {
    /* width: 400px; */
}

input[type="date"]{
    /* height: 16px; */
}

/* .container {
    display: flex;
    justify-content: space-between;
    width: 500px !important;
    background-color: royalblue;
    flex-wrap: nowrap;
} */

.container {
    /* display: flex; */
    /* flex-flow: column; */
    width: 500px;
    /* max-width: 650px; */
    /* min-width: 650px; */
}


