fieldset {
    height: 500px;
}

label, select, input, textarea {
    margin-top: 0;
    margin-left: 50px;
    margin-right: 0;
    margin-bottom: 10px;
}

input:not([type="date"],[type="submit"]) {
    width: 400px;
}



input[type="date"]{
    height: 22px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 500px !important;
    background-color: royalblue;
    flex-wrap: nowrap;
}

#date {
    /*  */
}

#uniorg {
    width: 120px;
}

#state {
    width: 50px;
}

.date {
    margin-left: 30px;
}


